{{define "main"}}

<article>
  <h1 class="title">{{.Title}}</h1>
  {{ if .IsTranslated }}
  <div class="available-languages">
    <h4>
      {{i18n "read-in-other-language"}}:
      {{ range .Translations }}
        <a href="{{ .Permalink }}">
          {{ .Lang }}
        </a>
      {{ end }}
    </h4>
  </div>
  {{ end }}
  {{if ne .TableOfContents }}
  <div class="table-of-content">
    <h2>{{i18n "table-of-content"}}</h2>
    {{.TableOfContents}}
  </div>
  {{end}}
  <div class="post-content">
    {{ .Content }}
  </div>
</article>
{{end}}