{{define "main"}}

<div class="posts">
    <h1>{{.Title}}</h1>
    <div class="posts-list">
        {{ range .Paginator.Pages }}
            {{ partial "article.html" .}}
  
        {{ end }}
    </div>

</div>
<div class="pagination">

    <!-- {{ template "_internal/pagination.html" . }} -->
    {{ if .Paginator.HasPrev }}
    <a href="{{ .Paginator.Prev.URL }}">{{i18n "prev-pages"}}</a>
    {{ end }}
    {{ if .Paginator.HasNext }}
    <a href="{{ .Paginator.Next.URL }}">{{i18n "next-pages"}}</a>
    {{ end }}
  </div>
{{end}}