{{define "main"}}

<div class="posts">
    <h1>{{.Title}}</h1>
    <div class="posts-list">
        {{ range .Paginator.Pages }}
            {{ partial "article.html" .}}
  
        {{ end }}
    </div>

</div>
{{if gt .Paginator.TotalPages 1}}
    <div class="pagination">
        <!-- {{ template "_internal/pagination.html" . }} -->
        {{ if .Paginator.HasPrev }}
        <a href="{{ .Paginator.Prev.URL }}">{{i18n "prev-pages"}}</a>
        {{ end }}
        <p>
            {{.Paginator.PageNumber}} {{i18n "of"}} {{.Paginator.TotalPages}}
        </p>

        {{ if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}">{{i18n "next-pages"}}</a>
        {{ end }}
    </div>
{{end}}
{{end}}