<header>
  <nav class="navbar">
    <span class="navbar-toggle" id="js-navbar-toggle">
      <i class="fa fa-bars"></i>
    </span>
    <a href="#" class="logo">M</a>
    <ul class="main-nav" id="js-menu">
      <li><a href="#">Posts</a></li>
      <li><a href="#">Categories</a></li>
      <li><a href="#">Tags</a></li>
      <li><a href="#">Series</a></li>
      <li><a href="#">Galleries</a></li>
      <li><a href="#">Search</a></li>
      <li><a href="#">SK|EN</a></li>
    </ul>
  </nav>
</header>
