<header>
  <nav class="navbar">
    <span class="navbar-toggle" id="js-navbar-toggle">
      <i class="fa fa-bars"></i>
    </span>
    <a href="{{.Site.Home.Permalink}}" class="logo">M</a>
    <ul class="main-nav" id="js-menu">
      {{range where .Site.Sections "Title" "Posts"}}
      <li><a href="{{.Permalink}}">{{ i18n "posts" }}</a></li>
      {{end}}
      {{range $taxonomyname, $taxonomy := .Site.Taxonomies}}
      <li>
        <a href="{{$.Site.Home.Permalink}}{{$taxonomyname}}">
          {{i18n $taxonomyname}}
        </a>
      </li>
        <!-- {{if eq $taxonomyname "categories"}}
          <li>
            <a href="{{$.Site.Home.Permalink}}{{$taxonomyname}}">
              {{i18n $taxonomyname}}
            </a>
          </li>
        {{else if (eq $taxonomyname "tags")}}
          <li> 
            <a href="{{$.Site.Home.Permalink}}/tags.html">
              {{i18n "tags"}}
            </a>
          </li>
        {{else if eq $taxonomyname "series"}}
          <li>
            <a href="{{$.Site.Home.Permalink}}/series.html">
              {{i18n "series"}}
            </a>
          </li>
        {{end}} -->
      {{end}}
      {{range where .Site.Sections "Title" "Galleries"}}
      <li><a href="{{.Permalink}}">{{ i18n "galleries" }}</a></li>
      {{end}}
      <li><a href="#">Search</a></li>
      {{ range .Site.Home.AllTranslations }}
        {{if eq $.Site.Language.Lang .Lang}}
        <li><a class="active-language" href="{{ .Permalink }}">{{ .Language }}</a></li>
        {{else}}
        <li><a class="inactive-language" href="{{ .Permalink }}">{{ .Language }}</a></li>
        {{end}}
      {{ end }}
    </ul>
  </nav>
</header>
