{{ define "main"}}
<div class="hero">
  <h1>
    {{i18n "welcome"}}
  </h1>
  <p>{{i18n "welcome-text"}}</p>
</div>
<div class="posts">
  <h2>
    {{i18n "posts"}}
  </h2>
  
  <div class="posts-list">
    {{ range first 6 (where .Site.RegularPages "Section" "post")}}
        {{ partial "article.html" .}}
    {{end}}
  </div>

  {{range where .Site.Sections "Title" "Posts"}}
    <a href="{{.Permalink}}">{{ i18n "see-more" }}</a>
  {{end}}
</div>

<div class="galleries">
  <h2>
    {{i18n "galleries"}}
  </h2>

  <div class="recent-galleries"></div>
  {{range where .Site.Sections "Title" "Galleries"}}
    <li><a href="{{.Permalink}}">{{ i18n "see-more" }}</a></li>
  {{end}}
</div>
{{end}}
