{{ define "main"}}
<div class="hero">
  <h1>
    Welcome
  </h1>
</div>
<div class="posts">
  <h2>
    Posts
  </h2>
  
  <div class="recent-posts">
    <ul>
        {{ range first 6 (where .Site.RegularPages "Section" "post")}}
            <li class="post">
                <h2><a href="{{.Permalink}}">{{.Title}}</a></h2>
                <p>{{ .Description }}</p>
            </li>
        {{end}}
      </ul>
  </div>

  {{range where .Site.Sections "Title" "Posts"}}
    <a href="{{.Permalink}}">{{ i18n "see-more" }}</a>
  {{end}}
</div>

<div class="galleries">
  <h2>
    Galleries
  </h2>

  <div class="recent-galleries"></div>
  {{range where .Site.Sections "Title" "Galleries"}}
    <li><a href="{{.Permalink}}">{{ i18n "see-more" }}</a></li>
  {{end}}
</div>
{{end}}
